@font-face {
  font-family: "miFuente";
  src: url(../fuentes/Gamer\ Station.ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

header {
  width: 100%;
}

.cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}

.letras {
  display: flex;
  flex-grow: 1; /* Añadimos esta propiedad para que las letras ocupen todo el espacio disponible */
  justify-content: center;
}
.letraRoja,
.letraAzul,
.letraVerde,
.letraAmarilla,
.letraBlanca {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.5), 1px 25px 35px rgba(16, 16, 16, 0.5),
    1px 30px 60px rgba(16, 16, 16, 0.5);
  font-family: "miFuente";
  font-weight: bold;
  font-size: 8vw;
}

.letraRoja {
  color: red;
}

.letraAzul {
  color: blue;
}

.letraVerde {
  color: green;
}

.letraAmarilla {
  color: yellow;
}

.letraBlanca {
  color: white;
}

.contadores {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Indie Flower", cursive;
  font-size: 2vw;
  font-weight: bold;
  color: white;
}

.juego {
  margin-bottom: 1vw;
  width: 25vw;
  height: 25vw;
}

.verde {
  height: 12vw;
  width: 12vw;
  float: left;
  border: solid 0.4vw;
  opacity: 0.7;
  background-color: #1cff2d;
  border-top-left-radius: 200px;
}

.rojo {
  height: 12vw;
  width: 12vw;
  border: solid 0.4vw;
  float: left;
  opacity: 0.7;
  background-color: #f92d2a;
  border-top-right-radius: 200px;
}

.azul {
  height: 12vw;
  width: 12vw;
  border: solid 0.4vw;
  float: left;
  opacity: 0.7;
  background-color: #175aff;
  border-bottom-right-radius: 200px;
}

.amarillo {
  height: 12vw;
  width: 12vw;
  border: solid 0.4vw;
  float: left;
  opacity: 0.7;
  background-color: #f7fa1f;
  border-bottom-left-radius: 200px;
}

.boton {
  display: flex;
  justify-content: center;
  text-align: center;
}

button {
  font-family: "Balsamiq Sans", cursive;
  font-size: 1.6vw;
  padding: 0.5vw 1.5vw;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  opacity: 1;
}

#comenzar {
  background-color: rgb(255, 255, 255);
}

.contenedorIngreso {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000000a1;
}

.contenedorFinalPartida {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000000a1;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  height: 20vw;
  border-radius: 10px;
  background-color: white;
  border: 4px solid transparent;
  animation: borderAnimation 5s infinite;
}

.modal h1 {
  padding-bottom: 2vw;
  font-size: 2vw;
  font-family: "miFuente";
}

.modal input {
  font-weight: bold;
  font-size: 2vw;
}

.modal p {
  padding: 1vw;
  font-weight: bold;
  color: red;
}

.modal button {
  margin-top: 4vw;
  font-size: 1.5vw;
  color: white;
  background-color: black;
}
.modalFinal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  height: 20vw;
  border-radius: 10px;
  background-color: white;
  border: 4px solid transparent;
  animation: borderAnimation 5s infinite;
}
.modalFinal h1 {
  padding-top: 1.2vw;
  padding-bottom: 0.7vw;
  font-size: 2vw;

  font-family: "miFuente";
}
#resumenPartida {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  height: 35vw;
  border: solid 0.3vw;
}

#resumenPartida div {
  padding: 0.7vw;
  font-size: 1.5vw;
  font-family: "miFuente";
}

#puntajeTexto {
  color: #1cff2d;
}
#penalizacionTexto {
  color: red;
}
#puntajeTotalTexto {
  color: blue;
}
@keyframes borderAnimation {
  0% {
    border-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
    border-image-slice: 1;
  }
  50% {
    border-image: linear-gradient(45deg, #0000ff, #ff0000, #00ff00);
    border-image-slice: 1;
  }
  100% {
    border-image: linear-gradient(45deg, #00ff00, #0000ff, #ff0000);
    border-image-slice: 1;
  }
}

.modalFinal button {
  margin: 1vw;
  font-size: 1.5vw;
  color: white;
  background-color: black;
}

.ocultar {
  display: none;
}

@media (max-width: 850px) {
  .letraRoja,
  .letraAzul,
  .letraVerde,
  .letraAmarilla,
  .letraBlanca {
    font-size: 12vw;
  }

  .contadores {
    font-size: 4vw;
  }
  .juego {
    width: 53vw;
    height: 53vw;
  }

  .verde {
    height: 26vw;
    width: 26vw;
  }

  .rojo {
    height: 26vw;
    width: 26vw;
  }

  .azul {
    height: 26vw;
    width: 26vw;
  }

  .amarillo {
    height: 26vw;
    width: 26vw;
  }

  .boton {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  button {
    font-size: 3vw;
    padding: 1vw 2.5vw;
  }

  .modal {
    width: 50vw;
    height: 30vw;
  }
  .modal h1 {
    padding-bottom: 3vw;
    font-size: 3vw;
  }

  .modal input {
    font-size: 3vw;
  }

  .modal p {
    padding: 2vw;
  }

  .modal button {
    font-size: 2.5vw;
  }
  .modalFinal {
    width: 50vw;
    height: 30vw;
  }
  .modalFinal h1 {
    padding-top: 1.6vw;
    padding-bottom: 0.9vw;
    font-size: 3vw;
  }
  #resumenPartida {
    width: 35vw;
    height: 30vw;
  }

  #resumenPartida div {
    padding: 1vw;
    font-size: 2.5vw;
  }

  .modalFinal button {
    margin: 1vw;
    font-size: 2.5vw;
  }
}

@media (max-width: 500px) {
  .letraRoja,
  .letraAzul,
  .letraVerde,
  .letraAmarilla,
  .letraBlanca {
    font-size: 12vw;
  }

  .contadores {
    margin-bottom: 3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 5vw;
  }
  .juego {
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 80vw;
    height: 80vw;
  }

  .verde {
    height: 40vw;
    width: 40vw;
    float: left;
    border: solid 1.4vw;
    opacity: 0.7;
    background-color: #1cff2d;
    border-top-left-radius: 200px;
  }

  .rojo {
    height: 40vw;
    width: 40vw;
    border: solid 1.4vw;
    float: left;
    opacity: 0.7;
    background-color: #f92d2a;
    border-top-right-radius: 200px;
  }

  .azul {
    height: 40vw;
    width: 40vw;
    border: solid 1.4vw;
    float: left;
    opacity: 0.7;
    background-color: #175aff;
    border-bottom-right-radius: 200px;
  }

  .amarillo {
    height: 40vw;
    width: 40vw;
    border: solid 1.4vw;
    float: left;
    opacity: 0.7;
    background-color: #f7fa1f;
    border-bottom-left-radius: 200px;
  }

  .boton {
    display: flex;
    justify-content: center;
    padding-top: 6vw;
    padding-bottom: 6vw;
    text-align: center;
  }

  button {
    font-family: "Balsamiq Sans", cursive;
    font-size: 6vw;
    padding: 2vw 5vw;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .active {
    opacity: 1;
  }
  .modal {
    width: 60vw;
    height: 40vw;
  }
  .modal h1 {
    font-size: 5vw;
    margin-top: 3vw;
  }
  .contenedorFinalPartida .modal h1 {
    font-size: 4vw;
  }

  .modal input {
    font-size: 3.5vw;
  }

  .modal p {
    padding: 2vw;
  }

  .modal button {
    font-size: 3vw;
    margin-bottom: 2vw;
  }
  .modalFinal {
    width: 70vw;
    height: 50vw;
  }
  .modalFinal h1 {
    padding-top: 2.5vw;
    padding-bottom: 0.9vw;
    font-size: 4vw;
  }
  #resumenPartida {
    width: 45vw;
    height: 25vw;
  }

  #resumenPartida div {
    padding: 1vw;
    font-size: 3.5vw;
  }
  .modalFinal button {
    margin: 2vw;
    font-size: 3.5vw;
  }
}
