@font-face {
  font-family: "miFuente";
  src: url(../fuentes/Gamer\ Station.ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

header {
  width: 100%;
}

.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}

.letraRoja,
.letraAzul,
.letraVerde,
.letraAmarilla,
.letraBlanca {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.5), 1px 25px 35px rgba(16, 16, 16, 0.5),
    1px 30px 60px rgba(16, 16, 16, 0.5);
  font-family: "miFuente";
  font-weight: bold;
  font-size: 7.5vw;
}

.letraRoja {
  color: red;
}

.letraAzul {
  color: blue;
}

.letraVerde {
  color: green;
}

.letraAmarilla {
  color: yellow;
}

.letraBlanca {
  color: white;
}

.contadores {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Indie Flower", cursive;
  font-size: 2vw;
  font-weight: bold;
  border: solid;
  color: black;
  background-color: white;
}

.juego {
  width: 25vw;
  height: 25vw;
}

.verde {
  height: 12vw;
  width: 12vw;
  float: left;
  border: solid 0.4vw;
  opacity: 0.7;
  background-color: #1cff2d;
  border-top-left-radius: 200px;
}

.rojo {
  height: 12vw;
  width: 12vw;
  border: solid 0.4vw;
  float: left;
  opacity: 0.7;
  background-color: #f92d2a;
  border-top-right-radius: 200px;
}

.azul {
  height: 12vw;
  width: 12vw;
  border: solid 0.4vw;
  float: left;
  opacity: 0.7;
  background-color: #175aff;
  border-bottom-right-radius: 200px;
}

.amarillo {
  height: 12vw;
  width: 12vw;
  border: solid 0.4vw;
  float: left;
  opacity: 0.7;
  background-color: #f7fa1f;
  border-bottom-left-radius: 200px;
}

.boton {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
}

button {
  font-family: "Balsamiq Sans", cursive;
  font-size: 1.7vw;
  padding: 0.5vw 1.5vw;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  opacity: 1;
}

#comenzar {
  background-color: rgb(255, 255, 255);
}
