@font-face {
  font-family: "miFuente";
  src: url(./fuentes/Gamer\ Station.ttf);
}
body {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
}
.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.letraRoja {
  color: red;
  font-family: "miFuente";
  font-weight: bold;
  font-size: 70px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.5), 1px 25px 35px rgba(16, 16, 16, 0.5),
    1px 30px 60px rgba(16, 16, 16, 0.5);
}
.letraRoja {
  color: red;
  font-family: "miFuente";
  font-weight: bold;
  font-size: 70px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.5), 1px 25px 35px rgba(16, 16, 16, 0.5),
    1px 30px 60px rgba(16, 16, 16, 0.5);
}
.letraAzul {
  color: blue;
  font-family: "miFuente";
  font-weight: bold;
  font-size: 70px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.5), 1px 25px 35px rgba(16, 16, 16, 0.5),
    1px 30px 60px rgba(16, 16, 16, 0.5);
}
.letraVerde {
  color: green;
  font-family: "miFuente";
  font-weight: bold;
  font-size: 70px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.5), 1px 25px 35px rgba(16, 16, 16, 0.5),
    1px 30px 60px rgba(16, 16, 16, 0.5);
}
.letraAmarilla {
  color: yellow;
  font-family: "miFuente";
  font-weight: bold;
  font-size: 70px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.5), 1px 25px 35px rgba(16, 16, 16, 0.5),
    1px 30px 60px rgba(16, 16, 16, 0.5);
}
.letraBlanca {
  padding-right: 25px;
  color: white;
  font-family: "miFuente";
  font-weight: bold;
  font-size: 70px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.5), 1px 25px 35px rgba(16, 16, 16, 0.5),
    1px 30px 60px rgba(16, 16, 16, 0.5);
}
.contadores {
  font-family: "Indie Flower", cursive;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: grey;
  box-shadow: inset 0 0 30px gray;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.juego {
  padding-top: 40px;
  width: 400px;
  height: 400px;
}

.verde {
  background-color: #1cff2d;
  border-top-left-radius: 200px;
  height: 50%;
  width: 50%;
  float: left;
  border: solid 5px;
  opacity: 0.7;
}

.rojo {
  background-color: #f92d2a;
  border-top-right-radius: 200px;
  height: 50%;
  width: 50%;
  border: solid 5px;
  float: left;
  opacity: 0.7;
}

.azul {
  background-color: #175aff;
  border-bottom-right-radius: 200px;
  height: 50%;
  width: 50%;
  border: solid 5px;
  float: left;
  opacity: 0.7;
}

.amarillo {
  background-color: #f7fa1f;
  border-bottom-left-radius: 200px;
  height: 50%;
  width: 50%;
  border: solid 5px;
  float: left;
  opacity: 0.7;
}

.boton {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 25px;
  color: white;
  text-align: center;
  opacity: 0.7;
}

.boton:active,
.active {
  opacity: 1;
}

button {
  font-family: "Balsamiq Sans", cursive;
  font-size: 25px;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

button:active,
.active {
  opacity: 1;
}

.comenzar {
  background-color: rgb(147, 170, 170);
  box-shadow: inset 0 0 30px gray;
}
